// VARIABLES
$primary-color: #e98383;
$secondary-color: #eed789;
$tertiary-color: #95e1d3;
$title-color: #333333;
$text-color: #999999;
$gray-color: #f8f8f8;
$gray-dark-color: #ccc;
$gray-light-color: #f5f5f5;

// Fonts

$primary-font: "Montserrat", sans-serif;
$secondary-font: "Roboto", sans-serif;
$tertiary-font: "Kaushan Script", sans-serif;

// Display

$wrapper: 1920px;
$container: 1200px;
