@import "../../helper/styles";

.service {
  padding: 5rem 0 11rem; // top:11rem right-left:0 bottom:12rem
  background: white;
  &-list {
    @include flexbox(flex-start, space-between, row, wrap);
    column-gap: 4rem;
    row-gap: 2rem;
  }
  &-item {
    width: calc((100% / 3) - 4rem);
    @include flexbox();
    column-gap: 3rem;
  }

  &-item-icon {
    width: calc(15% - 3rem);
    color: $tertiary-color;
    i {
      font-size: 2.8rem;
    }
  }
  &-item-info {
    width: calc(85% - 3rem);
  }
  &-item-title {
    color: $title-color;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
  }
  &-item-desc {
    color: $text-color;
    line-height: 1.6;
    font-weight: 300;
    font-family: $secondary-font;
    @include textClamp(2);
  }
}
