@import "../../helper/styles";

.work {
  &-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "img1 img2 img5 img6"
      "img3 img4 img5 img7";
  }
  &-item {
    > img {
      object-fit: cover;
      width: 100%;
      max-height: 100%;
    }
    &:nth-child(1) {
      grid-area: img1;
    }
    &:nth-child(2) {
      grid-area: img2;
    }
    &:nth-child(3) {
      grid-area: img3;
    }
    &:nth-child(4) {
      grid-area: img4;
    }
    &:nth-child(5) {
      grid-area: img5;
    }
    &:nth-child(6) {
      grid-area: img6;
    }
    &:nth-child(7) {
      grid-area: img7;
    }
  }
}
