@import "../../helper/styles";

.device {
  margin-top: 10rem;
  @include linearGradientWithBgImg(
    "../../assets/img-device-bg.png",
    to bottom,
    #ccc,
    white,
    0.7
  );
  &-image {
    margin: 0 auto -9.3rem;
    @include relativeCenter(horizontal);
    display: inline-block;
  }
  @include maxWidth(767px) {
    margin-top: 5rem;
    &-image {
      margin-bottom: -4.6rem;
      max-width: 80%;
    }
  }
  @include maxWidth(413px) {
    &-image {
      margin-bottom: -4.2rem;
    }
  }
}
